.card{
    display: flex;
    /* flex-wrap: wrap; */
    width: 200px;
    height: 200px;
   
    padding: 5px;
}
.img-card{
      display: flex;
    width: 100%;
    border-radius: 22px;
     
}
.flex{
  
}
.parent {
   display: flex;
   justify-content: center;
   gap: 100px;
}